.header{
    min-height: 100vh;
    position: relative; /* for position: absolute of image */
    background-image: url("../images/leaf.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 12.5%;
}
.header__image{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 43.5%;
}
.header__top{
    padding-top: 2rem;
    display: flex;
    align-items: baseline;
}
.header__logo{
    max-width: 10rem;
}
.menu{
    margin-left: 14%;
    position: relative;
    z-index: 2;
}
.menu__list{
    display: flex;
    align-items: center;
}
.menu__item{
    margin: 0 2.5rem;
}
.menu__link{
    color: var(--gray-dark);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2 linear;
    /* doi voi thuoc tinh mau, neu thay doi dien ra trong 0.2s kieu tuyen tinh */
}
.menu__link:hover{
    color: var(--primary-color)
}
.header__content{
    padding-top: 19rem;
    position: relative;
    z-index: 2;
    max-width: 55.5rem;
}
.header__content-slogan{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 3rem;
}
.header__content-title{
    color: var(--black);
    font-size: 6rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    margin-bottom: 3rem;
    line-height: 1.2;
}
.header__content-desc{
    font-size: 1.6rem;
    margin-bottom: 5rem;
    color: var(--black);
}
.header__content-cta{
    display: flex;
    align-items: center;
}
.header__content-cta > a:first-child{
    margin-right: 5rem;
}
.btn__play-video{
    display: flex;
    align-items: center;
}
.btn__play-video > i{
    width: 4rem;
    height: 4rem;
    background-color: var(--bg-block);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-right: 1rem;
}
.btn__play-video > span{
    color: var(--gray-dark);
    font-size: 1.4rem;
}
.btn{
    display: inline-block;
    vertical-align: middle;
    border: 0;
    outline: none;
    padding: 1.5rem 3rem;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    cursor: pointer;
}
.btn--primary{
    background-color: var(--primary-color);
}
.btn--secondary {
    background-color: var(--gray-dark);
  }
.btn--rounded {
    border-radius: 5rem;
}
.btn--icon i{
    margin-left: 1rem;
    color: inherit;
}
.menu__collapse{
    display: none;
    position: relative;
    top: -5px;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
@media screen and (max-width: 1439px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    .header__content{
        padding-top: 12rem;
    }
}
@media screen and (max-width: 767px){
    .header__top{
        justify-content: space-between;
    }
    .header__content{
        padding-top: 7rem;
    }
    .header__content-title{
        font-size: 4rem;
    }
    .header__image, .menu{
        display: none;
    }
    .menu__collapse{
        display: block;
    }   
    .header__content-cta{
        flex-direction: column;
        align-items: flex-start;
    }
    .header__content-cta a:first-child{
        margin-right: 0;
        margin-bottom: 2.5rem;

    }
}

.about__inner{
    position: relative;
    padding-top: 14rem;
    padding-bottom: 14rem;
}
@media screen and (max-width: 767px){
    .about__inner{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
.about__flower1{
    position: absolute;
    max-width: 13.5rem;
    top: 0;
    left: 0;
}
.about__flower2{
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 7rem;
    transform: translateY(-50%);
}
.about__content{
    position: relative;
    z-index: 5;
    margin: 0 auto;
    text-align: center;
}
@media screen and(max-width: 767px){
    .about__content{
        max-width: 72%;
    }
}
.about__content img {
    margin: 0 auto 4rem;
    max-width: 8rem;
}
.about__content h3{
    text-transform: uppercase;
    color: var(--gray-light);
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 4rem;
}
/*Heading*/
.heading {
    margin-bottom: 7rem;
    text-align: center;
  }
.heading__title {
    font-size: 4.2rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    margin-bottom: 4rem;
    color: var(--black)
}
.heading__desc {
    color: var(--gray-light);
    font-size: 1.5rem;
    line-height: 1.6;
}
/* about list */
.about__list{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.about__item{
    width: 24.8%;
    position: relative;
}
@media screen and (max-with: 1023px){
    .about__item{
        width: 49.6%;
    }
}
@media screen and (max-width: 767px){
    .about__item{
        width: 100%;
    }
}
.about__item:hover .about__item-content{
    opacity: 1;
    visibility: visible;
}
.about__item-content{
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-family: var(--secondary-font);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}
/* popular */
.popular{
    background-color: white;
    padding-top: 14rem;
    padding-bottom: 14rem;
}
.popular__list{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.popular__item{
    width: calc(33.33% - 13.33px);
    border: 1px solid #eee;
}
.popular__link{
    height: 100%;
    display: block;
    padding: 2rem 2rem 4.5rem;
    text-align: center;
    transition: box-shadow 0.2 linear;
}
.popular__link .btn--secondary{
    transition: background-color 0.2s linear;
}
.popular__link img {
    width: 100%;
    height: 26.5rem;
    object-fit: cover;
}
.popular__link .title {
    font-family: var(--secondary-font);
    font-size: 2.2rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    color: var(--gray-dark);
  }
.popular__link .desc{
    font-size: 1.4rem;
  line-height: 2;
  color: var(--gray-light);
  margin-bottom: 4rem;
}
.popular__link:hover{
    box-shadow: 0 0 14px 14px rgba(0, 0, 0, 0.025);
}
.popular__link:hover .btn--secondary {
    background-color: var(--primary-color);
}
@media screen and (max-width: 767px) {
    .popular__item {
        width: 100%;
        margin-bottom: 2.5rem;
    }
}
.quotes{
    background-color: var(--bg-block);
    padding-top: 14rem;
    padding-bottom: 14rem;
}
.quoutes__item{
    text-align: center;
    margin-bottom: 6rem;
    
}
.quoutes__desc{
    max-width: 80%;
    font-size: 1.4rem;
    color: var(--gray-light);
    line-height: 1.8;
    margin: 5rem auto;
}
.quoutes__item .img{
    margin-left: auto;
    margin-right: auto;
}
.quotes__author{
    font-family: var(--primary-font);
    font-size: 1.6rem;
}
.quotes__author span{
    font-family: var(--primary-font);
    font-size: 1.2rem;
}
.quotes img{
    display: unset;
}
img.quotes__client{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.quoutes__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quoutes__nav li{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ffc3c2;
    margin: 0 0.5rem;
}
.quoutes__nav li.active{
    background-color: #ff817e;
}
/* team */
.team{
    padding-top: 14rem;
    padding-bottom: 20rem;
    background-color: #fff;
}
.team__list{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.team__item{
    width: calc(33.33% - 2rem);
    position: relative;
}
.team__info{
    background-color: #fff;
    width: 30rem;
    position: absolute;
    bottom: -2rem;
    text-align: center;
    padding: 3.5rem 4.5rem 2.5rem;
    transform: translateY(70%);
    transition: transform 0.2s linear;
    margin: auto;
    left: 0;
    right: 0;
}
.team__item:hover .team__socials{
    opacity: 1;
    visibility: visible;
}
.team__item:hover .team__info {
    transform: translateY(25%);
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.025);
  }
.team__name{
    font-family: var(--secondary-font);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.team__job {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray-light);
}
.team__socials{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    /* hide */
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
}
.team__socials li{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px;
    flex-shrink: 0;
}
.team__socials li a{
    color: var(--gray-dark);
    transition: 0.2s linear;
}
.team__socials li:hover{
    background-color: var(--primary-color);
    border: var(--primary-color) 1px solid;
}
.team__socials li:hover a{
    color: #fff;
}
@media screen and (max-width: 767px) {
    .team__socials{
        opacity: 1;
        visibility: visible;
    }
    .team__info{
        bottom: 3rem;
        transform: translateY(0)
    }
    .team__item{
        width: 100%;
        margin-bottom: 3rem;
    }
    .team__item:hover .team__info {
        transform: none;
    }
    .team__item img {
        width: 100%;
        object-fit: cover;
    }
}
.booking{
    display: flex;
    background-color: var(--bg-block);
}
.booking__image{
    width: 40%;
}
.booking__image img{
    object-fit: cover;
}
.booking__form{
    width: 60%;
    padding: 10rem;
}

.form-group input, .form-group select, .form-single input{
    text-transform: uppercase;
    color: var(--gray-light);
    font-size: 1.2rem;
    background-color: transparent;
    padding: 1.5rem 0;
    border: 0;
    border-bottom: 1px solid currentColor;
    outline: none;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: var(--primary-font);
}
.form-group .custom-input{
    width: 50%;
}
.form-group .custom-input input{
    width: 100%;
}
.form-single input{
    width: 100%;
}
.booking__form input::-webkit-inner-spin-button,
.booking__form input::-webkit-outer-spin-button,
.booking__form select::-webkit-inner-spin-button,
.booking__form select::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
.booking .form-group{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}
.booking .form-group .custom-input,
.booking .form-group input,
.booking .form-group select{
    width: calc(50% - 1rem);
}
.booking .custom-input{
    position: relative;
}
.booking .form-group .custom-input input::-webkit-calendar-picker-indicator{
    -webkit-appearance: none;
    display: none;
}
.booking .form-group .custom-input i{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.custom-input{
    width: calc(50% - 1rem);
}
.custom-input input{
    width: 100% !important;
}
.booking .form-single {
    margin-top: 8rem;
    margin-bottom: 4rem;
}
@media screen and (max-width: 1023px){
    .booking{
        flex-direction: column;
    }
    .booking > * {
        width: 100%;
    }
    .booking__form{
        padding: 2rem;
    }
}
.blog .popular__link .title{
    margin-top: 1.5rem;
}

.blog .category{
    text-transform: uppercase;
    color: var(--gray-dark);
    margin-top: 3.5rem;
    font-size: 1.2rem;
}
.contact{
    padding-bottom: 14rem;
    background-color: white;
}
.contact .container{
    max-width: 100rem;
}
.contact__content{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.contact__info, .contact__form {
    width: 100%;
    margin-bottom: 3rem;
  }
.contact__form{
    display: flex;
    flex-direction: column;
}
.contact__item {
    display: flex;
    align-items: center;
}
.contact__item i{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 2.5rem;
    font-size: 2rem;
}
.contact__text {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--gray-light);
}
.contact__text a {
    display: block;
    color: var(--gray-light);
    margin: 5px 0;
}
.contact__item:nth-of-type(2) {
    margin: 4rem 0;
}
.contact__form textarea {
    resize: none;
    min-height: 15rem;
    margin-bottom: 3.5rem;
  }
.contact__form input, 
.contact__form textarea{
    outline: none;
    padding: 1.5rem;
    border: 1px solid #eee;
    font-family: var(--primary-font);
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--gray-light);
}
.contact__form button {
    width: fit-content;
}
.contact__form input::-webkit-input-placeholder,
.contact__form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .contact__info {
      width: 35%;
    }
    .contact__form {
      width: 65%;
      padding-left: 12rem;
    }
}